{
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "printWidth": 120,
  "tabWidth": 2,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^react",
    "^next",
    "<THIRD_PARTY_MODULES>",
    "^@/components/ui/(.*)$",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/store/(.*)$",
    "^@/actions/(.*)$",
    "^@/constants/(.*)$",
    "^@/config/(.*)$",
    "^@/lib/(.*)$",
    "^@/types(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "tailwindFunctions": ["cn"],
  "tailwindAttributes": ["containerClassName"]
}
